{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":0,"column":4},"end":{"row":0,"column":5},"action":"insert","lines":["/"],"id":2}],[{"start":{"row":0,"column":5},"end":{"row":1,"column":0},"action":"insert","lines":["",""],"id":3},{"start":{"row":1,"column":0},"end":{"row":1,"column":1},"action":"insert","lines":["."]},{"start":{"row":1,"column":1},"end":{"row":1,"column":2},"action":"insert","lines":["c"]}],[{"start":{"row":1,"column":2},"end":{"row":1,"column":3},"action":"insert","lines":["9"],"id":4},{"start":{"row":1,"column":3},"end":{"row":1,"column":4},"action":"insert","lines":["/"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":4},"end":{"row":1,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1756100649513,"hash":"25e5754a2f6440acfa11e56056283578c54729d0"}